@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(90deg, rgb(233, 63, 63), rgb(102, 102, 214));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.clock{
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
    border: 2px solid #fff;
    position: relative;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, .5),
                inset 10px  10px 15px rgba(70, 70, 70, .12) ;
    outline: none;             
}

.number{
    --rotation:0;
    font-size: 28px;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: translate(-50%);
    transform: rotate(var(--rotation));
   
}
.number1{ --rotation:30deg;}
.number2{ --rotation:60deg;}
.number3{ --rotation:90deg;}
.number4{ --rotation:120deg;}
.number5{ --rotation:150deg;}
.number6{ --rotation:180deg;}
.number7{ --rotation:210deg;}
.number8{ --rotation:240deg;}
.number9{ --rotation:270deg;}
.number10{ --rotation:300deg;}
.number11{ --rotation:330deg;}
.number12{ --rotation:360deg;}


.doted{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.hand{
    --rotation:0;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%) rotate(calc(var(--rotation)));
    width: 10px;
    height: 50%;
    transform-origin: bottom;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}